os: osx
sudo: required
language: generic

install:
    - "./build.sh"

deploy:
  provider: releases
  api_key:
    secure: HF9F1GrfHn3YGB4/QJ1RqEJDhjGnEZcmEZyNtK/+IJJ+9Tg0ELYe0Coeaikc8I7cPGN1GlRWm/0r4ZqCR5MMPBfiGDjA2vWo0mmSBSps8hS9cIYb8OQpiL/MSzQK7MndvonoZntDOk8EbE81znX3zHuO6OK1jqmwxj8w3Sji/x5fhSP+LsrAg+sqXlJE0jhUU8xdCxxhUt8ydK6UxArnCtoj4587mhEh2PtKlbwSL3IGuRcu/WR26Y8i10CkNh8J0F2K1DGEE0ng+iZllOPOBtagJWvkJyXOtTEqKMaIn+6MKOcz3G0WaFvgZ4llSGyh+G24jcmHvfB0+xH2uyk1sVkarNOZxuOQNDcGpfAO/d5HXtRqeykH5rzA/ZQ0NSPiaCcb2C+dtO1kmjyyQNhhqP5lj99ACM9CmLNCzE3ikWz2r+/yF9xAWOAgZX859BPw2J5gqBmmeWw7HVQR2g0kMIPRXC+2K3nA+WMHORoOlHirJOJou5TsHXe1n2Kj4u5QfdTNWjQnDpDelP4Vwab/rYaVw9YW0uo3lIDNRQ9PHwc3gbmAvmuUUj4S6nJHoDmmiLNnWte2rx0ZghJOIUVs9ojWWrXTcR6uXwupEtDOKOZ1YIz8qlNgY1GFOaivcRI82smS5ccqR+k7IUCKIXgXbben6Vuvv+05LT2UFC+yQ/0=
  file: SnipdomDotApp.dmg
  skip_cleanup: true
  on:
    tags: true
